/* font-family-link */
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;600&display=swap');

/* common-css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Be Vietnam Pro', sans-serif;
}
section{
    margin-bottom: 80px;
}
.container{
    width: 90%;
    margin: 0 auto;
}
h1{
    font-size: 45px;
    color: #000;
}
h2{
    font-size: 38px;
    color: #000;
}
h3{
    font-size: 28px;
    color: #000;
}
h4{
    font-size: 24px;
    color: #000;
}
p{
    font-size: 16px;
    color: #0f0e0e;
    line-height: 1.5;
}
a{
    text-decoration: none;
    font-size: 17px;
    font-weight: 600;
}
ul{
    display: flex;
}
li{
    list-style: none;
}
.main-button{
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    background-color: #10E591;
    border: 3px solid #10E591;;
    padding: 10px 50px;
    border-radius: 20px;
    cursor: pointer;
}
.main-button:hover{
    background-color: transparent;
    color: #10E591;
    transition: .3s ease-in;
}
/* header-part-css */
.header-part{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}
.header-part h3{
    color: #10E591;
}
.header-part .nav .menu li{
    padding: 8px 18px;
}
.header-part .nav .menu li a{
    color: #000;
}
.header-part .nav .menu li:hover a{
    color: #10E591;
    transition: .4s ease;
}



/* banner-part-css */
.banner-part{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.banner-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.banner-text p{
    padding: 20px 0;
}
.banner-text .main-button{
    width: fit-content;
}
.main-button .button-arrow{
    margin-left: 10px;
}
.banner-img img{
    width: 100%;

}
.banner-img img:hover{
    transform: rotate(360deg);
    transition: 3s ease-in;
}



/* sponsor-part-css  */
.sponsor-part{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    align-items: center;
    justify-items: center;
    padding: 20px 15px;
    border-top: 1px solid rgba(34, 34, 34, 0.1);
    border-bottom: 1px solid rgba(34, 34, 34, 0.1);
}

/* gear-part css */
#gear-part{
    margin-bottom: 40px;
}
#gear-part .gear-heading{
    text-align: center;
    margin-bottom: 50px;
}
.travel-gear-part{
    display: grid;
    grid-template-columns: repeat(3,300px);
    justify-content: space-evenly;

}
.gear-cart{
    display: flex;
    flex-direction: column;
    /* background-color: aliceblue; */
    padding: 10px;
    margin-bottom: 50px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 5px;
}
.gear-cart:hover{
    box-shadow: rgba(149, 157, 165, .5) 0px 8px 24px;
    transition: .4s ease;
}
.gear-cart img{
    width: 280px;
    border-radius: 5px;
}
.gear-cart h3{
    padding: 7px 0;
}
.ratings{
    padding: 10px 0 5px 0;
}
.ratings li{
    padding-right: 2px;
}
.ratings i{
    color: #FB8200;
}
.ratings .rating-point{
    margin-left: 10px;
}
.gear-cart .gear-details{
    padding: 7px 0;
}

/* travel-plan-css */

.travel-plan{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.travel-plan .plan-img img{
    width: 100%;
}
.plan-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.plan-text h1{
    padding-bottom: 20px;
}
.plan-text button{
    width: fit-content;
}


/* footer css */

.footer-part{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F5F5F5;
    padding: 40px 0;
}
.footer-part h4{
    padding-bottom: 20px;
}
.footer-part ul{
    padding-top: 20px;
}
.footer-part ul li{
    padding: 10px 15px;
    background-color: #10E591;
    margin-right: 15px;
    border-radius: 50%;
    border: 2px solid #10E591;
}
.footer-part ul li:hover{
    background-color: transparent;
    transition: .4s ease;
}
.footer-part ul li:hover a{
    color: #10E591;
}
.footer-part ul li a{
    color: #fff;
}



/* media query css */

@media screen and (max-width: 1080px){
    .travel-gear-part{
        grid-template-columns: repeat(3,280px);  
    }
    .travel-gear-part img{ 
        width: 260px;
    }
}
@media screen and (max-width: 980px){
    .travel-gear-part{
        grid-template-columns: repeat(3,250px);  
    }
    .travel-gear-part img{ 
        width: 230px;
    }
}
@media screen and (min-width: 769px) and (max-width: 880px){
    .travel-gear-part{
        grid-template-columns: repeat(3,230px);  
    }
    .travel-gear-part img{ 
        width: 210px;
    }
}
@media screen and (min-width: 661px) and (max-width: 768px){
    .header-part .nav{
        display: none;
    }
    .travel-gear-part{
        grid-template-columns: repeat(2,280px);  
    }
    .sponsor-part{
        grid-template-columns: repeat(3,1fr);
        grid-row-gap: 30px;
    }
}

@media screen and (max-width: 660px){
    .header-part .nav{
        display: none;
    }
    .travel-gear-part{
        grid-template-columns: repeat(2,260px);  
    }
    .travel-gear-part img{ 
        width: 240px;
    }
}

@media screen and (max-width: 570px){
    .header-part .nav{
        display: none;
    }
    .banner-part{
        grid-template-columns: repeat(1,1fr);
    }
    .banner-part .banner-text{
        order: 2;
        text-align: center;
        align-items: center;
    }
    .travel-gear-part{
        grid-template-columns: repeat(2,220px);  
    }
    .travel-gear-part img{ 
        width: 200px;
    }
    .gear-cart .gear h3{
        font-size: 24px;
    }
    .gear-cart .gear h4{
        font-size: 24px;
    }
    .travel-plan{
        grid-template-columns: repeat(1,1fr);
    }
    .travel-plan .plan-text{
        text-align: center;
        align-items: center;
    }
}


@media screen and (max-width: 480px) {
    .header-part{
        justify-content: center;
    }
    .header-part .nav{
        display: none;
    }
    .banner-part{
        grid-template-columns: repeat(1,1fr);
    }
    .banner-part .banner-text{
        order: 2;
        text-align: center;
        align-items: center;
    }
    .sponsor-part{
        grid-template-columns: repeat(4,1fr);
    }
    .travel-gear-part{
        grid-template-columns: repeat(1,300px); 
    }
    .travel-gear-part img{
        width: 280px;
    }
    .travel-plan{
        grid-template-columns: repeat(1,1fr);
    }
    .travel-plan .plan-text{
        text-align: center;
        align-items: center;
    }
}


